# PostgreSQL
POSTGRES_DB=github_metrics
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# n8n
N8N_USER=admin
N8N_PASSWORD=admin

# Grafana
GRAFANA_USER=admin
GRAFANA_PASSWORD=admin

# GitHub (usado dentro do workflow do n8n via Edit Fields)
GITHUB_TOKEN=ghp_seu_token_aqui
GITHUB_USERNAME=seu_usuario_aqui
